<div class="page">
  <div class="header">
    <div class="header-img"></div>
    <div class="diagonal-bar"></div>
    <div class="diagonal-bar"></div>
    <div class="diagonal-bar"></div>
    <div class="diagonal-bar"></div>
    <div class="diagonal-bar"></div>
    <div class="diagonal-bar"></div>
  </div>

  <div class="content">
    <div class="logo"></div>
    <div class="content-title">
      <p>Tu crédito en <span>3 pasos</span></p>
    </div>
    <div class="content-body">
      <p class="text block">¿Qué <strong>crédito te interesa</strong>?</p>
      <div class="options">
        <div
          class="option"
          [ngClass]="{
            expanded: isExpanded,
            'basic-form': currentState === ViewState.BasicUserInfo
          }"
        >
          <div class="header-option" (click)="onClickExpand('hipoteca')">
            <img
              class="img-option"
              src="../assets/images/hipoteca_1.png"
              alt="Tarjeta de crédito"
            />
            <p class="title-option">Crédito hipotecario Mi techo ya</p>
          </div>
          <div class="body-option">
            <p class="text text-option">
              ¡Para familias jóvenes que aspiran a su primer hogar!
            </p>
            <div
              *ngIf="isExpanded && currentState === ViewState.CreditSelection"
              class="form_body-option"
              [ngClass]="{ disappear: validateClassCss('disappear') }"
            >
              <form>
                <div class="output-value-range">
                  <span>Monto</span>
                  <span>{{
                    amount | currency : "USD" : "symbol" : "1.0-0" : "en-US"
                  }}</span>
                </div>
                <input
                  class="slider"
                  type="range"
                  min="1000000"
                  max="100000000"
                  step="1000000"
                  name="amount"
                  [(ngModel)]="amount"
                />
                <div class="output-value-range">
                  <span>Plazo (meses)</span>
                  <span>{{ term | number }}</span>
                </div>
                <input
                  class="slider"
                  type="range"
                  min="1"
                  max="84"
                  step="1"
                  name="term"
                  [(ngModel)]="term"
                />

                <p class="loan-payment-amount mt-8">
                  {{
                    calculateMonthlyPayment()
                      | currency : "USD" : "symbol" : "1.0-0" : "en-US"
                  }}
                </p>
                <p class="loan-payment-amount blue">Cuota mensual aproximada</p>
                <p class="loan-payment-desc">
                  Esta simulación es un aproximado
                </p>
                <p class="loan-payment-desc">calculado con una tasa del</p>
                <p class="loan-payment-desc mb-24">
                  <strong>1.18% E.A</strong>
                </p>

                <button
                  class="btn btn-primary mb-16"
                  (click)="onClickAcceptCredit()"
                >
                  ¡Lo quiero!
                </button>
                <button class="btn btn-secundary">Simular otro producto</button>
              </form>
            </div>
            <div
              *ngIf="isExpanded && currentState === ViewState.BasicUserInfo"
              class="form_basic_data-option"
            >
              <p>Para comenzar unos <strong>datos iniciales</strong></p>
              <form class="basic-data_form">
                <div class="input-container">
                  <i class="fa-regular fa-id-card"></i>
                  <input
                    class="input-form"
                    id="cedula"
                    type="text"
                    placeholder=" "
                    pattern="\d*"
                    maxlength="13"
                    name="idenficationNumber"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                    [(ngModel)]="idenficationNumber"
                  />
                  <label for="cedula">Cédula</label>
                </div>
                <div class="input-container">
                  <i class="fa-regular fa-user"></i>
                  <input
                    class="input-form"
                    id="apellido"
                    type="text"
                    placeholder=" "
                    name="firstLastName"
                    [(ngModel)]="firstLastName"
                  />
                  <label for="apellido">Primer apellido</label>
                </div>
                <div class="input-container">
                  <i class="fa-solid fa-mobile-screen"></i>
                  <input
                    class="input-form"
                    id="celular"
                    type="text"
                    placeholder=" "
                    pattern="\d*"
                    maxlength="10"
                    name="cellphone"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                    [(ngModel)]="cellphone"
                  />
                  <label for="celular">Celular</label>
                </div>
                <div class="conditions">
                  <input
                    class="checkbox-custom"
                    type="checkbox"
                    id="miCheckbox"
                    name="conditions"
                    value="conditions"
                    [(ngModel)]="conditions"
                  />
                  <label
                    for="miCheckbox"
                    class="checkbox-custom-label"
                    [ngClass]="{ 'checked-label': conditions }"
                  ></label>
                  <p for="conditions" class="ml-44">
                    Acepto los <a href="#">Términos y condiciones</a> y la
                    <a href="#">Política de tratamiento de datos</a>
                  </p>
                </div>
                <button
                  class="btn btn-primary ml-20"
                  [disabled]="isDisabledContinue()"
                >
                  ¡Comencemos!
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="option" [ngClass]="{ hide: isExpanded }">
          <div class="header-option">
            <img
              class="img-option"
              src="../assets/images/vehiculo_1.png"
              alt="Tarjeta de crédito"
            />
            <p class="title-option">Crédito para vehículos</p>
          </div>
          <div class="body-option">
            <p class="text text-option">
              ¡Compra esa nave con la que siempre has soñado!
            </p>
          </div>
        </div>
        <div class="option" [ngClass]="{ hide: isExpanded }">
          <div class="header-option">
            <img
              class="img-option"
              src="../assets/images/estudiante_1.png"
              alt="Tarjeta de crédito"
            />
            <p class="title-option">Crédito estudiantil para jóvenes</p>
          </div>
          <div class="body-option">
            <p class="text text-option">
              ¡Estudia y alcanza tus metas profesionales!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
